.Landing {
  text-align: center;
  position: relative;
  .header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
  }
  .headerText {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
  }
}